body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#champions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 775px;
  overflow: scroll;
}

.card {
  background: rgba(128, 128, 128, .80);
  text-align: center;
  display: inline-grid;
  height: 700px;
  padding: 5px;
  margin: 20px;
  flex: 0 1 17%;
}

.champpic {
  justify-self: center;
  height: 400px;
}